using System;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Expressions;
using System.Threading.Tasks;
using Microsoft.EntityFrameworkCore;

{% set entityName = (class.Name | replace({'Repository' : ''})) %}

namespace SCAP.{{ package.Name }}
{
	public class {{ class.Name }} : EntityRepository<{{ entityName }}>, {{ "I" ~ class.Name }}
	{
	    public {{ class.Name }}(ApplicationDbContext context) : base(context) { }
	    
	    {% for method in methods %}
			{% set methodType = "MethodType" %}

			{% if method.MethodType is null  %}
				{% set methodType = "void" %}
			{% elseif ((method.MethodType.Name == "IEnumerable") or (method.MethodType.Name == "List")) %}
				{% set methodType = (method.MethodType.Name ~ "<" ~ entityName ~ ">") %}
			{% else %}
				{% set methodType = method.MethodType.Name %}
			{% endif %}

			{{ method.Visibility.Name }} {{ methodType }} {{ method.Name }}({% for parameter in method.OwnedParameters %}{{ parameter.Type.Name }} {{ parameter.Name }}{% if loop.last == false %}, {% endif %}{% endfor %})
			{
				throw new NotImplementedException();
			}
		{% endfor %}
	}
}