using System;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Expressions;
using System.Threading.Tasks;

{% set entityName = (class.Name | replace({'Controller' : ''})) %}

namespace SCAP.{{ package.Name }}
{
	[Authorize, ActiveUser]
	public class {{ class.Name }} : BaseController
	{
		{% for association in associations %}
			private readonly {{ association.TargetMember.Type.Name }} _{{ association.TargetMember.Type.Name | slice(1, association.TargetMember.Type.Name.length()) | lower_first }};
		{% endfor %}
		
		public {{ class.Name }}({% for association in associations %}{{ association.TargetMember.Type.Name }} {{ association.TargetMember.Type.Name | slice(1, association.TargetMember.Type.Name.length()) | lower_first }}, {% endfor %}IUserService<Pessoa> userService, IMapper mapper, INotificator notificator)
			: base(userService, mapper, notificator)
		{
			{% for association in associations %}
				_{{ association.TargetMember.Type.Name | slice(1, association.TargetMember.Type.Name.length()) | lower_first }} = {{ association.TargetMember.Type.Name | slice(1, association.TargetMember.Type.Name.length()) | lower_first }};
			{% endfor %}
		}
		
		{% set domainClassName = class.Name | replace({'Controller': ''}) %}
		
		{% for method in methods %}
			{% if method.RequestMethod == "POST" %}
				[HttpPost, ActionName("{{ method.Name | replace({'Confirmed':''}) }})"]
				[ValidateAntiForgeryToken]
			{% endif %}
			public IActionResult {{ method.Name }}({% for parameter in method.OwnedParameters %}{{ parameter.Type.Name }} {{ parameter.Name }}{% if loop.last == false %}, {% endif %}{% endfor %})
			{
				throw new NotImplementedException();
			}
		{% endfor %}
	}
}