using System;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Expressions;
using System.Threading.Tasks;

{% set entityName = (interface.Name | slice(1, interface.Name.length()) | replace({'Service' : ''})) %}

namespace SCAP.{{ package.Name }}
{
	public interface {{ interface.Name }} : IEntityService<{{ entityName }}>
	{
		{% for method in methods %}
			{% set methodType = "MethodType" %}

			{% if method.MethodType is null  %}
				{% set methodType = "void" %}
			{% elseif ((method.MethodType.Name == "IEnumerable") or (method.MethodType.Name == "List")) %}
				{% set methodType = (method.MethodType.Name ~ "<" ~ entityName ~ ">") %}
			{% else %}
				{% set methodType = method.MethodType.Name %}
			{% endif %}

			{{ methodType }} {{ method.Name }}({% for parameter in method.OwnedParameters %}{{ parameter.Type.Name }} {{ parameter.Name }}{% if loop.last == false %}, {% endif %}{% endfor %});
		{% endfor %}
	}
}
