using System;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Expressions;
using System.Threading.Tasks;
using KissLog;
using FluentValidation;

{% set entityName = (class.Name | replace({'Service' : ''})) %}

namespace SCAP.{{ package.Name }}
{
	public class {{ class.Name }} {% if generalizations is not empty %}: {{ ((generalizations[0]).GeneralizationSets[0]).Name }}<{{ entityName }}>, {% endif %}{{ "I" ~ class.Name }}
	{
		public {{ class.Name }}(IUnitOfWork unitOfWork, INotificator notificator, ILogger logger)
			: base(unitOfWork, notificator, logger) { }
		
		{% for attribute in attributes %}
			{{ attribute.Visibility.Name }} {{ attribute.Type.Name }} {{ attribute.Name }} { get; set; }
		{% endfor %}
		
		{% for method in methods %}
			{% set methodType = "MethodType" %}

			{% if method.MethodType is null  %}
				{% set methodType = "void" %}
			{% elseif ((method.MethodType.Name == "IEnumerable") or (method.MethodType.Name == "List")) %}
				{% set methodType = (method.MethodType.Name ~ "<" ~ entityName ~ ">") %}
			{% else %}
				{% set methodType = method.MethodType.Name %}
			{% endif %}

			{{ method.Visibility.Name }} {{ methodType }} {{ method.Name }}({% for parameter in method.OwnedParameters %}{{ parameter.Type.Name }} {{ parameter.Name }}{% if loop.last == false %}, {% endif %}{% endfor %})
			{
				throw new NotImplementedException();
			}
		{% endfor %}
	}
}

